body {
    margin: 0px;
}

.page {
    min-height: 100vh;
    border-spacing: 0;
}

p {
    margin: 0;
}

.page td {
    padding: 0;
}


/* 
            Більше цікавинок про перший девіз ви можете знайти в пошукачі Google за посиланням нижче:
            Більше цікавинок про перший девіз ви можете знайти в пошукачі Google за посиланням нижче:
            Більше цікавинок про перший девіз ви можете знайти в пошукачі Google за посиланням нижче:
            Більше цікавинок про перший девіз ви можете знайти в пошукачі Google за посиланням нижче:
            Більше цікавинок про перший девіз ви можете знайти в пошукачі Google за посиланням нижче:
            Більше цікавинок про перший девіз ви можете знайти в пошукачі Google за посиланням нижче:
            Більше цікавинок про перший девіз ви можете знайти в пошукачі Google за посиланням нижче:
            Більше цікавинок про перший девіз ви можете знайти в пошукачі Google за посиланням нижче:
            Більше цікавинок про перший девіз ви можете знайти в пошукачі Google за посиланням нижче:
            Більше цікавинок про перший девіз ви можете знайти в пошукачі Google за посиланням нижче:
            */
img {
    margin: 0;
    margin-top: 5px;
}

.header {
    background-color: #4ea9de;
    height: 10%;
    min-height: 10vh;
}

#header,
#footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.side-bar {
    text-align: end;
    vertical-align: middle;
    padding-right: 10px;
    background-color: #358bbd;
    width: 10%;
}

.side-bar li {
    margin-top: 10px;
    margin-bottom: 10px;
}

.footer {
    background-color: #25a9f5;
    height: auto;
    min-height: 10vh;
}

.main-text {
    text-align: center;
    vertical-align: middle;
    background-color: #7fdff5;
    width: 70%;
    height: auto;
}

.textbox {
    padding-left: 10px;
    text-align: start;
    vertical-align: middle;
}

#textbox-1 {
    background-color: #1eb7d9;

}

#textbox-2 {
    background-color: #11aacc;

}

.credo-box {
    margin: 10px;
    border: 1px solid black;
    align-items: center;
    padding: 10px;
}

.header,
.footer {
    padding-left: 3%;
    padding-right: 3%;
    width: 94%;
    text-align: middle;
    vertical-align: middle;
}

.header h3,
.footer h4 {
    margin: 5px;
}